// DEFAULTS
params.output_s3_path = "default"
params.workflow_s3_path = "default"
params.input_dir = "nextflow/inputs"

profiles {
    local {
        process.executor = 'local'
        // ALL WORKFLOW overrides
        params.container = 'talos:8.3.4'
        params.large_files = "large_files"
        params.processed_annotations = "nextflow/processed_annotations"
        // ANNOTATION
        // output path for Cohort-specific results
        params.cohort_output_dir = "nextflow/${params.cohort}_outputs"
        // TALOS
        // input param - annotation output
        params.matrix_table = "${params.cohort_output_dir}/${params.cohort}.mt"
        // outputs directory
        params.output_dir = "nextflow/${params.cohort}_outputs"
    }
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = 'GosNextflowBatchJobQueue'
            withName: ParseAlphaMissenseIntoHt {memory = 2.GB}
            withName: ReformatAnnotatedVcfIntoHailTable {memory = 2.GB}
            withName: HPOFlagging {memory = 4.GB}
        }
        aws.region = 'ap-southeast-2'

        // ALL WORKFLOW overrides
        params.large_files = "${params.workflow_s3_path}/large_files"
        params.processed_annotations = "${params.workflow_s3_path}/processed_annotations"

        // ANNOTATION
        // output path for Cohort-specific results
        params.cohort_output_dir = "${params.output_s3_path}"
        // TALOS
        // input param - annotation output
        params.matrix_table = "${params.cohort_output_dir}/${params.cohort}.mt"
        // outputs directory
        params.output_dir = params.cohort_output_dir
    }
}

// NOTE - this will override any settings above if not commented out in the following configs
includeConfig 'annotation.config'
includeConfig 'talos.config'
